@inherits LayoutComponentBase

@*TODO Blazor Web Assembly PWA Auto Refresh Update Tip 09*@
<AutoUpdateToolbar />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
